In [1]:
import numpy as np
import collections
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
233,tt3014666,5000000,10429707,Moms' Night Out,Sarah Drew|Sean Astin|Patricia Heaton|Logan Wh...,Andrew Erwin|Jon Erwin,What could go wrong?,"Yearning for an evening without their kids, so...",98,Comedy,TriStar Pictures|Provident Films|Pure Flix Ent...,3/25/2014,5.7,2014
662,tt0421073,20000000,65569869,Street Kings,Keanu Reeves|Forest Whitaker|Chris Evans|Hugh ...,David Ayer,Their city. Their rules. No prisoners.,Tom Ludlow is a disillusioned L.A. Police Offi...,109,Action|Crime|Drama|Thriller,Fox Searchlight Pictures|Regency Enterprises|D...,4/10/2008,6.2,2008
798,tt1053810,41000000,7448385,The Big Year,Owen Wilson|Steve Martin|Jack Black|Rashida Jo...,David Frankel,Everyone is searching for something,Three avid bird watchers compete to spot the r...,100,Comedy,Ingenious Media|Dune Entertainment|Fox 2000 Pi...,10/14/2011,5.4,2011
1297,tt1905041,160000000,788679850,Fast & Furious 6,Paul Walker|Vin Diesel|Dwayne Johnson|Jordana ...,Justin Lin,All roads lead to this,Hobbs has Dominic and Brian reassemble their c...,130,Action|Thriller|Crime,Universal Pictures|Original Film|One Race Prod...,5/6/2013,6.6,2013
1338,tt0378109,50000000,44434439,Into the Blue,Paul Walker|Jessica Alba|Scott Caan|Ashley Sco...,John Stockwell,Treasure Has Its Price.,Red-hot action superstars Paul Walker and Jess...,110,Action|Thriller|Adventure|Crime,Columbia Pictures Corporation|Mandalay Picture...,9/30/2005,5.9,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)
data['release_mounth'] = data.release_date.apply(lambda x: x[:2])
data['films']=data.original_title.apply(lambda x: len(x))
data['films_overview']=data.overview.apply(lambda x: len(x.split()))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides'}

In [6]:
data[data.budget==data.budget.max()]# тут пишем ваш код для решения данного вопроса:

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mounth,films,films_overview
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5/,43,75

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals'}

In [9]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mounth,films,films_overview
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2/,17,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime==data.runtime.min()]
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
data.runtime.mean()
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [12]:
data.runtime.median()
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
data[data.profit==data.profit.max()]
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
data[data.profit==data.profit.min()]
answers['7']='The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
data[data.profit>0].count()
answers['8']='1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
q=data[data.release_year==2008]
q[q.revenue==q.revenue.max()]
answers['9']='The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
q=data[(data.release_year<=2014)&(data.release_year>=2012)]
q[q.profit==q.profit.min()]
answers['10']='The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [18]:
a=data['genres'].tolist()
a=[x.split('|') for x in a]
b=[j for x in a for j in x]
c = collections.Counter()
for x in b:
    c[x]+=1
c
answers['11']='Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
a=data[data.profit>0].genres.tolist()
a=[x.split('|') for x in a]
b=[j for x in a for j in x]
c = collections.Counter()
for x in b:
    c[x]+=1
c
answers['12']='Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
a=data.groupby(['director']).sum()
a[a.revenue==a.revenue.max()]
answers['13']='Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
s=data[data.genres.apply(lambda x: 'Action' in x)]
a=s.director.tolist()
a=[x.split('|') for x in a]
b=[j for x in a for j in x]
c = collections.Counter()
for x in b:
    c[x]+=1
answers['14']='Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
a=data[data.release_year==2012]
a[a.revenue==a.revenue.max()].cast
answers['15']='Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
big_data_budget=data[data.budget>data.budget.mean()]
cast_list=big_data_budget.cast.str.cat(sep='|').split(sep='|')
c = collections.Counter()
for x in cast_list:
    c[x]+=1
answers['16']='Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
film_cage=data[data.cast.apply(lambda x: 'Nicolas Cage' in x)]
cage_genres=s.genres.str.cat(sep='|').split(sep='|')
c = collections.Counter()
for x in cage_genres:
    c[x]+=1
answers['17']='Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
paramount=data[data.production_companies.apply(lambda x: 'Paramount Pictures' in x)]
paramount[paramount.profit==paramount.profit.min()]
answers['18']='K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
data.groupby(['release_year']).sum()
answers['19']='2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
bro=data[data.production_companies.apply(lambda x: 'Warner Bros' in x)]
bro.groupby(['release_year']).sum()
answers['20']='2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
s=data
s.release_date=data.release_date.apply(lambda x: x[:2])
s.profit=data.profit.apply(lambda x: x-x+1)
s.groupby(['release_date']).sum()
answers['21']='Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
s=data
s.release_date=data.release_date.apply(lambda x: x[:2])
s.profit=data.profit.apply(lambda x: x-x+1)
s.groupby(['release_date']).sum()
answers['22']='450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
s=data[(data.release_mounth=='12')|(data.release_mounth=='1/')|(data.release_mounth=='2/')]
k=s.director.str.cat(sep='|').split('|')
c = collections.Counter()
for x in k:
    c[x]+=1
c
answers['23']='Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
s=data.groupby(['production_companies']).mean()
s[s.films==s.films.max()]
answers['24']='Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
s=data.groupby(['production_companies']).mean()
s[s.films_overview==s.films_overview.max()]
answers['25']='Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
data.sort_values(by='vote_average').tail(19)
answers['26']='Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [34]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

26